<template>
  <div class="home" aria-labelledby="main-title">
    <header class="hero">
      <Tree />
    </header>

    <div
      class="members"
      v-if="fm.members && fm.members.length"
    >
      <div
        class="member"
        v-for="(member, index) in fm.members"
        :key="index"
      >
        <img :src="$withBase(member.picture)">
        <h2>{{ member.name }}</h2>
        <span v-for="l in member.links">
          <a :href="l.link">{{ l.title }}</a><br />
        </span>
        <br />
        <br />
        <br />
      </div>
    </div>

    <div
      class="footer"
      v-if="fm.footer"
    >
      {{ fm.footer }}
    </div>
  </div>
</template>

<script>
import Tree from './Tree.vue'
export default {
  components: { Tree },
  computed: {
    fm () {
      return this.$page.frontmatter
    }
  }
}
</script>

<style lang="stylus">
.home
  max-width 960px
  margin 0px auto
  padding 0
  display block
  .hero
    text-align center
    img
      max-width: 100%
      max-height 280px
      display block
      margin 3rem auto 1.5rem
    h1
      font-size 3rem
  .members
    border-top 1px solid $borderColor
    padding 1.2rem 0
    margin-top 2.5rem
    display flex
    flex-wrap wrap
    align-items flex-start
    align-content stretch
    justify-content space-around
  .member
    flex-grow 1
    flex-basis 20%
    max-width 20%
    h2
      font-size 1.4rem
      font-weight 500
      border-bottom none
      padding-bottom 0
      color lighten($textColor, 10%)
    p
      color lighten($textColor, 25%)
  .footer
    padding 2.5rem
    border-top 1px solid $borderColor
    text-align center
    color lighten($textColor, 25%)
@media (max-width: $MQMobile)
  .home
    .members
      flex-direction column
    .member
      max-width 100%
      padding 0 2.5rem
@media (max-width: $MQMobileNarrow)
  .home
    padding-left 1.5rem
    padding-right 1.5rem
    .hero
      img
        max-height 210px
        margin 2rem auto 1.2rem
      h1
        font-size 2rem
    .member
      h2
        font-size 1.25rem
</style>