<template>
  <canvas id="canvas"></canvas>
</template>

<script>
import tree from './tree.js';
export default {
  props: {
    type: String
  },
  mounted () {
    tree(canvas, this.type)
  }
}
</script>